@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Open+Sans&display=swap");

.topButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    color: #707070;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
    margin-bottom: 20px;
}

.projectLibraryHeader {
    color: #707070;
}

.projectLibraryHeader h1 {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.projectLibraryHeader p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding-top: 0;
    margin-top: 0;
}

.allGridItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.eachElementOfPL {
    width: 298px;
    height: 200px;
}

.textBelowImages {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 5vh;
}

.topButtons button {
    padding: 2px 18px;
    font-weight: bold;
    background-color: #c7c1c179;
    border-color: #c7c1c13e;
    color: #454343dd;
    font-size: 12px;
}

.difficultyLevel {
    display: flex;
    align-items: center;
    transform: translate(-100px, -10px);
    position: relative;
}

.pagesToShow {
    display: flex;
    align-items: center;
    transform: translate(65px, -10px);
}

.pagesNav {
    padding: 10px;
    margin-bottom: 4px;
    color: #707070;
    font-size: 13px;
}

p {
    font-weight: bold;
    margin-bottom: 3vh;
}

button.active {
    background-image: linear-gradient(#6eb1f5, #378bde);
    color: #FFFFFF;
}