.background {
    background-color: #eeeeee;
    width:100%;
    height:100%;
    
}

.profiles {
    display: flex;
    justify-content:center;
}

.backbtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 290px;
}